html {
    min-height: 100%;
    background: #069;
    background: url('../images/code-pic2.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.nav ul {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}


.nav li {      
    float: left;

}

.nav li a {
    display: block;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    color: black;
}

.nav li a:hover {
    background-color: rebeccapurple;
    color: white;
}



.main-page {
    clear: both;
    padding-top: 30px;
}



.main-page {
    width: 80%;
    margin: 5% 10%;
  
}

