html {
  min-height: 100%;
  background: #069;
  background: url("../images/code-pic2.jpg");
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
  border-radius: .5em;
}

.nav li {
  float: left;
  border: 1px ;
  border-radius: .5em;
}

.nav li a {
  display: block;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  color: black;
}

.nav li a:hover {
  background-color: rebeccapurple;
  border-radius: .5em;
  color: white;
}

.main-page {
  padding-top: 15px;
  width: 85%;
  margin: 2% 7.5%;
  text-align: center;
}


#about {
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a img {
  float: left;
  width: 30%;
  margin: 3px;
  border-radius: .3em;
}

