html {
  min-height: 100%;
  background: #069;
  background: url("../images/code-pic2.jpg");
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
  border-radius: 0.5em;
}

.nav li {
  float: left;
  border: 1px;
  border-radius: 0.5em;
}

.nav li a {
  display: block;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav li a:hover {
  background-color: rebeccapurple;
  border-radius: 0.5em;
  color: white;
}

.header {
  color: aliceblue;
  font-weight: 900;
  font-size: 25px;
}

p {
  margin: 20px;
  font-weight: 800;
  color: #0048ffd5;
}

.main-page {
  padding-top: 15px;
  width: 85%;
  margin: 2% 7.5%;
  text-align: center;
}

#about {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: aliceblue;
}

a img {
  opacity: 0.2;
  width: 30%;
  float: left;
  margin: 30px 3px;
  border-radius: 0.3em;
}

a img:hover {
  opacity: 0.8;
  border: 0.5px solid;
  box-shadow: inset 0 0 10px #000000;
}

.clear-fix {
  clear: both;
}

.bottom {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  border-radius: 0.5em;
}

.bottom li a:hover {
  background-color: rebeccapurple;
  border-radius: 0.5em;
  color: white;
}

.bottom li {
  float: right;
  border: 1px;
  border-radius: 0.5em;
}

.bottom li a,
.bottom badge {
  display: block;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  color: aliceblue;
}

badge {
  float: right;
}

@media (max-width: 760px) {
  a img {
    opacity: 1;
    width: 70%;
    display: block;
    border-radius: 0.5em;
    margin-left: 15%;
  }
}
